body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    /* Your custom styling */
    /* Example: */
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    text-align: center;
    width: 60vw;
    height: 40vh;
    background-color: rgb(210, 207, 207);
    align-self: center;
}
